@media (min-width: 768px) and (max-width: 1024px) {
  #formateurscard {
    display: grid !important;
    width: 8em !important;
    /* height: 2em; */
    margin-top: 2em !important;
  }
  .fcard{
    width: 8em !important;
    /* height: 2em; */
    margin-top: 2em !important;
  }
}
@media (max-width: 700px) { 
  #formateurscard {
    display: grid !important;
    width: 8em !important;
    /* height: 2em; */
    margin-top: 2em !important;
  }
  .fcard{
    width: 8em !important;
    /* height: 2em; */
    margin-top: 2em !important;
  }
}

@media (max-width: 1020px) { 
  .fcard {
    width: 9em !important;
    margin-top: 2em !important;
  }
}
#formateurscard {
    max-width: 100%;
    font-weight: 800;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin-bottom: 5em;
    
   
  }
#formateurs{
  background-color: #f5f7fb !important;
}

.card{
  background-color: #D5DDDC ;
}
.fcard {
  width: 4em;
} 