#footer{
    background-color: #323232 !important;
    background: none !important;
    padding: 0em;
}
#ogdpc{
    width: 7em;
    height: 4em;
    background-color: #323232 !important;
    border: #323232 !important;
    margin-right: 2em;
}
#datadocke{
    width: 4em;
    height: 4em;
    background-color: #323232 !important;
    border: #323232 !important;
    margin-right: 2em;
}
#toTop{
    margin-left: 55em;
    width: 10%;
    height: auto;
}

.twitter{
    color: #55ADEE;
}
.linkedin{
    color: #0082CA;
}
#modal > p, ul{
    color: black;
    font-size: 1.2rem;
}
#btn-login{
    background-color: #A0B6E1 !important;
}